@page
@model Ventas.Pages.DetalleModel

<p> <b>Id</b> @Model.Venta.Id</p>
<p> <b>Fecha</b> @Model.Venta.Fecha</p>
<p> <b>Precio</b> @Model.Venta.Precio</p>
<p> <b>Cantidad</b> @Model.Venta.Cantidad</p>
<p> <b>Nombre</b> @Model.Venta.Nombre</p>
<p> <b>Descripcion</b> @Model.Venta.Descripcion</p>
<p> <b>Vendedor</b> @Model.Venta.Vendedor</p>
